{% extends "index.html" %}
{% block title %}{{ page.title }} — Sergey Sova{% endblock title %}
{% block extra_head %}
<meta property="og:title" content="{{ page.title | safe }}" />
<meta property="og:published_time" content="{{ page.date | date(format="%Y-%m-%dT%T%z") }}" />
<meta property="telegram:unixtime" content="{{ page.date | date(format="%s") }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title | safe }}" />
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% endif %}
<meta property="og:url" content="{{ page.permalink | safe }}" />
{% endblock extra_head %}
{% block content %}
<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <time datetime="{{ page.date | date(format="%+") }}"
    class="post-date">{{ page.date | date(format="%B %d %Y") }}</time>
  {% if toc %}
  <ul>
    {% for toclink in toc %}
    <li><a href="{{toclink.permalink | safe}}">{{ toclink.title }}</a></li>
    {% if toclink.children %}
    <ul>
      {% for inner in toclink.children %}
      <li><a href="{{inner.permalink | safe}}">{{ inner.title }}</a></li>
      {% if inner.children %}
      <ul>
        {% for double in inner.children %}
        <li><a href="{{double.permalink | safe}}">{{ double.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
  </ul>
  <hr />
  {% endif %}
  {{ page.content | safe }}
</article>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v4.0&appId=715931972181656&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="{{ page.permalink | safe }}" data-width="" data-numposts="10"></div>

{% endblock content %}
