{% extends "index.html" %}
{% block title %}{{ page.title }} — Sergey Sova{% endblock title %}
{% block extra_head %}
<meta property="og:title" content="{{ page.title | safe }}" />
<meta property="og:published_time" content="{{ page.date | date(format="%Y-%m-%dT%T%z") }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title | safe }}" />
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% endif %}
<meta property="og:url" content="{{ page.permalink | safe }}" />
{% endblock extra_head %}
{% block content %}
<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <time class="post-date">{{ page.date | date(format="%B %d %Y") }}</time>
  {{ page.content | safe }}
</article>
{% endblock content %}
