---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Article, getUniqueArticles} from '../data/forem';

const articles = await getUniqueArticles();
---

<Layout title="Sergey Sova">
  <main>
    <h1 class="text-5xl">My name is <span class="text-gradient">Sergey Sova</span></h1>
    <h2 class="text-3xl mb-2">Articles</h2>
    <ul role="list" class="link-card-grid">
      {
        articles.map((article) => (
          <Card href={article.url} title={article.title} body={article.description} />
        ))
      }
    </ul>
    <h2 class="text-3xl mb-2 mt-10 mb-2">Youtube</h2>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
