---
export interface Props {
  href: string;
  text: string;
}
---

<a
  class="inline-block rounded border-2 border-black transition button py-3 px-5 relative bg-white hover:bg-black hover:text-white focus:bg-black focus:text-white"
  href={Astro.props.href}
  rel="noopener"
  >{Astro.props.text}
</a>
