---
import {switchLang} from '../lib/language';
import LinkTo from '../components/LinkTo.astro';
---

<footer>
  <div class="content">
    <a href="/">
      <h3>{switchLang({en: 'Sergey Sova', ru: 'Сергей Сова'})}</h3>
    </a>
    <div class="links">
      <a href="/history">{switchLang({en: 'History', ru: 'История'})}</a>
      <LinkTo name="telegram" />
      <LinkTo name="youtube" />
      <a href="mailto:contact@sergeysova.com">E-Mail</a>
    </div>
  </div>
</footer>

<style>
  @import '../styles/global.css';

  body footer {
    @apply mt-10 bg-zinc-800 pt-4 pb-10 text-gray-50;
  }

  body footer .content {
    margin: auto;
    padding: 1em;
    max-width: 70ch;
    @apply flex flex-col items-start gap-2 space-y-4;
  }

  body footer h3 {
    @apply text-xl;
  }

  footer .links {
    @apply flex grow-0 flex-col items-start gap-1;
  }

  footer a {
    @apply hover:underline;
  }
</style>
