---
import {optionalTranslate} from '../lib/language';

const Links = {
  patronum: {url: 'https://github.com/effector/patronum'},
  logger: {url: 'https://github.com/effector/logger'},
  inspector: {url: 'https://github.com/effector/inspector'},
  twitter: {url: 'https://x.com/sergeysova', text: 'X.com'},
  telegram: {url: 'https://t.me/sergeysova', text: 'Telegram'},
  github: {url: 'https://github.com/sergeysova', text: 'GitHub'},
  youtube: {url: 'https://youtube.com/@sova', text: 'YouTube'},
} as const;

export interface Props {
  name: keyof typeof Links;
  text?: string | {ru: string; en: string};
  class?: string;
}

interface Link {
  url: string;
  text?: string | {ru: string; en: string};
}

const link = Links[Astro.props.name] as Link;
const text = Astro.props.text
  ? optionalTranslate(Astro.props.text)
  : link.text
    ? optionalTranslate(link.text)
    : Astro.props.name;
---

<a href={link.url} rel="noopener" target="_blank" class={Astro.props.class}>{text}</a>
