---
import {fetchIssueImage, NewsIssue} from '../data/revue';

export interface Props {
  news: NewsIssue[];
}

const originalIssues = Astro.props.news;
const issues = await Promise.all(
  originalIssues.map(async (issue) => {
    const image = await fetchIssueImage(issue);
    return {
      ...issue,
      image,
    };
  }),
);
---

<ul class="list">
  {
    issues.map((issue) => (
      <li class="issue" style={`background-image: url(${issue.image})`}>
        <a href={issue.url} target="_blank" rel="noopener">
          <span>#{issue.id}</span>
          <p>{issue.description}</p>
        </a>
      </li>
    ))
  }
</ul>

<style>
  .list {
    display: grid;
    gap: 1rem;
    padding: 0;
  }

  @media (min-width: 560px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    }
  }

  @media (max-width: 559px) {
    .issue:nth-child(n + 4) {
      display: none;
    }
  }

  @media (min-width: 400px) {
    .list .issue {
      min-height: 10ch;
    }
  }

  .issue {
    @apply bg-white rounded-md flex flex-col gap-1 overflow-hidden bg-cover bg-center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    /* aspect-ratio: 3; */
  }

  .issue a {
    @apply backdrop-blur-lg h-full text-white bg-black/50 overflow-hidden rounded-md;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }

  .issue:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px, rgba(0, 0, 0, 0.2) 0px 13px 26px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .issue:hover a {
    color: transparent;
    background-color: transparent;
    backdrop-filter: none;
    /* opacity: 0; */
  }

  .issue span {
    @apply px-4 py-2 font-light text-3xl float-right overflow-hidden;
  }

  .issue p {
    @apply px-4 py-3;
  }
</style>
