---
import './prism-one-light.css';
import Layout from './Layout.astro';
const {frontmatter, headings} = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <div class="go-back">
      <a href="/">Open home page</a>
    </div>
    <h1>{frontmatter.title}</h1>
    <slot />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    max-width: 620px;
    margin-top: 4ch;
    margin-bottom: 10ch;
  }

  @media (max-width: 654px) {
    main {
      @apply px-4;
    }
  }

  .go-back {
    text-align: right;
  }
</style>

<style is:global>
  main h1 {
    @apply text-3xl mt-6 mb-6 font-medium;
    line-height: 1;
  }

  main h1:not(:first-child) {
    @apply mt-8;
  }

  main h2 {
    @apply text-2xl mb-2 font-medium;
    line-height: 1;
  }

  main h2:not(:first-child) {
    @apply mt-8;
  }

  main h3 {
    @apply text-xl mb-2 font-medium;
    line-height: 1;
  }

  main h3:not(:first-child) {
    @apply mt-6;
  }

  main h4 {
    @apply text-lg mb-2 font-medium;
    line-height: 1;
  }

  main h4:not(:first-child) {
    @apply mt-4;
  }

  main h1,
  main h2,
  main h3,
  main h4,
  main h5,
  main h6,
  main h7 {
    @apply block relative;
  }

  main :where(h1, h2, h3, h4, h5, h6, h7):hover [aria-hidden] {
    opacity: 1;
  }

  main :where(h1, h2, h3, h4, h5, h6, h7) [aria-hidden] {
    position: absolute;
    left: -1.5ch;
    display: inline-block;
    opacity: 0;
    width: 2rem;
  }

  main :where(h1, h2, h3, h4, h5, h6, h7) [aria-hidden] .icon {
    text-align: left;
    display: inline-block;
  }

  main :where(h1, h2, h3, h4, h5, h6, h7) [aria-hidden] .icon::after {
    content: '#';
  }

  @media (max-width: 654px) {
    main :where(h1, h2, h3, h4, h5, h6, h7) [aria-hidden] {
      position: relative;
      left: auto;
      opacity: 1;
      width: 1.2rem;
    }
  }

  main #table-of-contents {
    display: none;
  }

  main code {
    @apply px-2 py-1 bg-red-50 text-red-800 rounded;
    font-size: 0.9em;
  }

  main ul,
  main ol,
  main dl {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
  }

  main ul,
  main ol,
  main dl {
    margin-block: 0.5em;
    margin-inline: 0;
    padding-inline-start: 1.5em;
  }

  main ul {
    list-style-type: disc;
  }

  main :where(ul, ol, dl) > li > p {
    margin-block: 0;
  }

  main :where(ul, ol, dl) li:not(:first-child) {
    margin-top: 0.3em;
  }

  main ol {
    list-style-type: decimal;
  }

  main :where(ul, ol) ::marker {
    @apply text-sky-500;
  }

  main p {
    margin-block: 1em;
  }

  main strong,
  main b {
    @apply font-bold;
  }

  main blockquote {
    @apply text-gray-500 border-l-4 border-gray-300;

    padding-block: 0;
    margin: 0.8em 0;
  }

  @media (min-width: 30em) {
    main blockquote {
      padding-right: 4em;
      padding-left: 1.25rem;
    }
  }

  main pre > code {
    font-size: 0.8em;
    padding: 0;
  }

  main pre > code[class*='language-'] {
    font-family: 'JetBrains Mono', Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
      'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  }

  main a {
    @apply text-sky-600 underline;
  }
  main a:hover {
    @apply no-underline;
  }
</style>
